div(class=['ui', 'pointing', 'menu'])
    a(class='item')= 'Inicio'
    a(class='item' href='/nuevoproducto')= 'Nuevo Producto'
    a(class='item' href='/productos')= 'Ver Productos'
    div(class=['right', 'menu'])
        div(class='item')
            div(class=['ui', 'transpartent', 'icon', 'input'])
                input(type='text' placeholder='Search..')
                i(class=['search', 'link', 'icon'])